{% extends "layouts/index_master.html" %}
{% block title %}
About
{% endblock %}

{% block banner_title %}
About
{% endblock %}

{% block head %}
<style>
    input {
        width: 35%;
        text-align: center;
    }

    form {
        text-align: center;
    }

    h1 {
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}

    <p>Este es un ejemplo de un servicio que podemos utilizar para el modulo de administración, en donde solicitamos verificar la información de la validez de un email.
    </p>

    <p>Librerias usadas para este proyecto :</p>
    <li>Flask==1.1.2</li> 
    
    <p>Si desea contribuir a este proyecto, o instalarlo localmente, consulte el<a href="https://github.com/asperezm/WebNumeric"> GitHub page.</a></p>

{% endblock %}